<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel ="stylesheet" href="style/css/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Show Me Your Booms</title>
    </head>
    <header>
        <nav id="topNav">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Sign Up</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/userProfile">Profile</a></li>
                <li><a href="/userShows">My Shows</a></li>
                <li><a href="/logout">Logout</a></li>
                <li><a href="/fireworks">Fireworks</a></li>
                <li><a href="/cart">Cart</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <h1>USER PROFILE</h1>
        <h1>User Shows</h1>

        <h2>BREAK</h2>
        <form action="/userShows/createUserShow" method='POST'>
            <input type="text" placeholder="Show Name" name='showName'>
            <input type="text" placeholder="Opener" name='fireworkID1'>
            <input type="text" placeholder="Firework 2" name='fireworkID2'>
            <input type="text" placeholder="Firework 3" name='fireworkID3'>
            <input type="text" placeholder="Firework 4" name='fireworkID4'>
            <input type="text" placeholder="Firework 5" name='fireworkID5'>
            <input type="text" placeholder="Firework 6" name='fireworkID6'>
            <input type="text" placeholder="Firework 7" name='fireworkID7'>
            <input type="text" placeholder="Firework 8" name='fireworkID8'>
            <input type="text" placeholder="Firework 9" name='fireworkID9'>
            <input type="text" placeholder="Closer" name='fireworkID10'>
            <input type="submit">
        </form>

        <h2>BREAK</h2>
        <h2>Show Preview</h2>
        <ul>
            <% for (let i=0; i < userShows.length; i++) { %>
                <% if (userShows[i].showName == "Gundam The Witch from Mercury" && userShows[i].fireworkID1 == 1) { %>
                    <img src=/style/images/BluePinkYellow1.gif>
                <% } %>
            <% } %>
        </ul>

        <h2>BREAK</h2>
        <h3>Add to show</h3>
        <form action="/userShows/addFireworkToShow" method='POST'>
                <label>My Shows</label>
                <select id="Show Name" name="showName">
                    <% for (let i=0; i< userShows.length; i++) { %> 
                        <% if (userShows[i].fireworkID == 0) { %>
                    <option><%= userShows[i].showName %></option>
                        <% } %>
                    <% } %>
                </select>
            <label>Fireworks</label>
                <select id="firework" name="fireworkId">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <input type="submit">
        </form> 

        <h2>BREAK</h2>
        <ul>
            <% for (let i=0; i < userShows.length; i++) { %>
                <% if (userShows[i].fireworkID == 1) { %>
                    <img src=/style/images/BluePinkYellow1.gif>
                <% } %>
                <% if (userShows[i].fireworkID == 2) { %>
                    <img src="/style/images/YellowRedBlue1.gif">
                <% } %>
            <% } %>
        </ul>

        <h2>BREAK</h2>
        <ul>
        <% userShows.forEach( el => { %>
                <li class='showName' data-id='<%=el._id%>'>
                    <span><%= el.showName %></span>
                    <span><%= el.fireworkID1 %></span>
                    <span><%= el.fireworkID2 %></span>
                    <span><%= el.fireworkID3 %></span>
                    <span><%= el.fireworkID4 %></span>
                    <span><%= el.fireworkID5 %></span>
                    <span><%= el.fireworkID6 %></span>
                    <span><%= el.fireworkID7 %></span>
                    <span><%= el.fireworkID8 %></span>
                    <span><%= el.fireworkID9 %></span>
                    <span><%= el.fireworkID10 %></span>
                    <span class='del'> Delete </span>
                </li>
        <% }) %>    
        </ul>       

        <h2>BREAK</h2>
        <ul>
            <% for (let i=0; i < userShows.length; i++) { %>
                <% if (userShows[i].showName = userShows[i].showName) { %>
                    <span><%= userShows[i].fireworkID %></span>
                    <% } %>

            <% } %>  
        </ul>


        <h2>BREAK</h2>
        <h3>Add to show</h3>
        <form action="/userShows/getSingleShow" method='POST'>
                <label>My Shows</label>
                <select id="Show Name" name="showName">
                    <% for (let i=0; i< userShows.length; i++) { %> 
                    <option><%= userShows[i].showName %></option>
                    <% } %>
                </select>
            <label>Fireworks</label>
                <select id="firework" name="fireworkId">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>
            <input type="submit">
        </form> 
        <script src="js/main.js"></script>
    </body>
</html>